# ignore hidden system files
.ipynb_checkpoints/
.idea/
*.DS_Store

# ignore data folders
data/*.csv
data_qc/*.nc
log/*.log
ini/reference


# ignore data and old backup file
*.nc
*.zip
io_backup.ini
yaml_to_table.py
